@font-face {
  font-family: Coffee;
  src: local("Coffee"), url(./assets/DarlingCoffee.otf) format("opentype");
}

#rock {
  display: inline-block;
  animation: rotation 2s infinite linear;
}

#progressBar {
  position: absolute;
  top: 85%;
  left: 45%;
}

@keyframes rotation {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

* {
  font-family: Coffee;
}

.rock {
  position: absolute;
  top: 27%;
  left: 42%;
  color: gray;
}

.actionDiv {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  top: 90%;
}

.status {
  position: absolute;
  width: 100%;
  top: 70%;
  text-align: center;
}

.childBtn {
  margin: auto;
  background-color: white;
  border: none;
}

.pauseBtn {
  position: absolute;
  top: 2%;
  color: white;
  font-size: 25px;
  width: 300px;
  height: 50px;
  background-color: black;
}

.nameField{
  width: 300px;
  height: 20px;
  position: absolute;
}

.scorePause {
  position: absolute;
  top: 9%;
  left: 6%;
  color: black;
  font-size: 25px;
}

.hardBtn {
  position: absolute;
  top: 2%;
  right: 10px;
  color: white;
  font-size: 25px;
  width: 300px;
  height: 50px;
  background-color: black;
}

.hardText {
  position: absolute;
  top: 10%;
  right: 3%;
  color: black;
  font-size: 25px;
}

@keyframes cookieAnim {
  100% {
    transform: translate(600px, 200px);
    opacity: 0;
  }
}
#cookieAnim {
  display: none;
  position: absolute;
  top: 10%;
  height: 200px;
  color: gray;
}
.cookie{
  animation: cookieAnim 1s;
}

@keyframes gameAnim {
  100% {
    transform: translate(-600px, 200px);
    opacity: 0;
  }
}
#gameAnim {
  display: none;
  position: absolute;
  top: 10%;
  right: 10%;
  height: 200px;
  color: gray;
}
.game{
  animation: gameAnim 1s;
}

@keyframes sleepAnim {
  100% {
    transform: translate(600px, -200px);
    opacity: 0;
  }
}
#sleepAnim {
  display: none;
  position: absolute;
  top: 50%;
  height: 200px;
  color: gray;
}
.sleep{
  animation: sleepAnim 1s;
}

@keyframes bookAnim {
  100% {
    transform: translate(-600px, -200px);
    opacity: 0;
  }
}
#bookAnim {
  display: none;
  position: absolute;
  top: 50%;
  right: 10%;
  height: 200px;
  color: gray;
}
.book{
  animation: bookAnim 1s;
}

#boom{
  z-index: 5;
  display: none;
  position: absolute;
  top: 25%;
  left: 40%;
  height: 400px;
  color: gray;
}
